.title{
    font-size: 64px;
}

.span-title{
    color: #18d26e;
}

#btn-signup{
    background-color: #18d26e !important;
    color: black;
}
.hola{
    margin-left: 25px !important;
}

.icon-content{
padding: 4px;
    background-color: #18d26e !important;
}

.packed-icon{
    width: 20px;
    height: 20px;
}


.box-cont{
    -webkit-box-shadow: 0px 2px 19px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 19px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 19px -8px rgba(0,0,0,0.75);
    width: 100% !important; padding: 20px; border-radius: 10px;
}

.whatsapp:hover{
    transform: scale(2);
}