@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Fugaz+One&family=Josefin+Slab:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:wght@500&family=Poppins:wght@100;200;300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&family=Rokkitt:wght@100;200;300;400;500&family=Teko:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Roboto', sans-serif; 
  }
  body {
    font-family: 'Roboto', sans-serif !important; 
    color: #444444;
  }
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Teko', sans-serif !important;
  }

  .ver-publi{
    margin: -40px 10px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-top: -50px;
    
    
    
  }
  
  .txt_vehiculos {
    padding: 0 50px;
  }
  
  #tl_vehiculo {
    font-size: 64px !important;
  }
  
  .p_vehiculo {
   font-size: 16px; 
   margin-top: 15px;
   margin-bottom: 30px;
  }
  
  .form_vehiculo {
    padding: 20px 0;
    margin-left: -80px;
    -webkit-box-shadow: 0px 2px 19px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 19px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 19px -8px #232020;
    width: 100% !important; padding: 20px; border-radius: 10px;
    margin-top: 50px;
  }
  
  
  .img_publi {
    height: 410px;
    width: 450px;
    margin-left: 1000px;
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    
  
    
  }
  
  .btn_registrar {
    margin-left: 6px;
    margin-top: 25px;
  }
  
  .campos_vehiculo {
    margin-bottom: 10px;
  }
  
  #tl_v_vehiculos {
    font-size: 35px;
  }
  
  .btn_novedades {
    background: #00BF63;
    color: #151515;
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 30px;
  }
  
  .lista_vehiculos {
    padding: 20px 10px;
  }
  
.vehiculos_ver {
    margin-top:0;  
    color:black; 
    padding: 7px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 19px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 19px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 19px -8px #232020;
}

  .filas_vehiculos {
    text-align: center;
  }
  
  #ttl_fotos {
    font-size: 35px;
  }

.btn-editar {
    background: #00BF63;
    border: 1px solid #00BF63;
    color: black;
}

.btn-editar:hover{
    background: #1e9a5e;
    border: 1px solid #1e9a5e;
    color: black;
}

.btn-novedades:hover {
    background: #444444;
    border: 1px solid #444444;
}



.btn-detalles {
    background: #FF914D;
    border: 1px solid #FF914D;
}

.btn-detalles:hover {
    background: #e27d3e;
    border: 1px solid #e27d3e;
}

.btn-pdf {
    background: #e27d3e;
    border: 1px solid #e27d3e;
    color: white;
}

.txt-pdf {
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.txt-pdf:hover {
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.btn-pdf:hover {
    transform: scale(1.1);
    transition: 0.3s;
}



.btn-excel{
    background: #00BF63;
    border: 1px solid #00BF63;
    color: white;
}

.txt-excel {
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.txt-excel:hover {
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.btn-excel:hover {
    transform: scale(1.1);
    transition: 0.3s;
}